.btn-pointed {
  @apply mb-1 text-sm flex-grow;

  position: relative;
  width: 70%;
  line-height: 50px;
  height: 50px;
  border-radius: 1.5em;
  font-family: Helvetica, Arial, sans-serif;
  color: white;
  background-image: linear-gradient(
    to right,
    #00134d 3%,
    #4d79ff 43%,
    #00134d 88%
  );

  @include screen('md') {
    @apply w-1/2 mb-0 text-base;

    &:first-of-type {
      @apply mr-10;
    }
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    top: 50%;
    right: 100%;
    transform: translate(50%, -50%);
    // height after padding is 51px; so triangle ratio is 21/51 or 0.42
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-right: 21px solid #00134d;
  }

  &::after {
    display: block;
    content: '';
    position: absolute;
    z-index: 1;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    border-top: 21px solid transparent;
    border-bottom: 21px solid transparent;
    border-left: 21px solid #00134d;
  }

  &__letter {
    color: #ffb31a;
    font-size: 0.875rem;

    @include screen('md') {
      font-size: 1rem;
    }
  }

  &--is-disabled {
    color: transparent;

    .btn-pointed__letter {
      color: transparent;
    }
  }

  // only apply hover styling when not in --is-correct state and not in --is-disabled state
  &:not(.btn-pointed--is-correct):not(.btn-pointed--is-disabled):hover {
    // only apply on larger screens to avoid issues (style not resetting between questions) with touch screens
    @include screen('md') {
      background-image: none;
      background-color: #ffb31a;
      color: black;

      &::before {
        border-right-color: #ffb31a;
      }

      &::after {
        border-left-color: #ffb31a;
      }

      .btn-pointed__letter {
        color: white;
      }
    }
  }

  &--is-selected {
    background-image: none;
    background-color: #ffb31a;
    color: black;

    &::before {
      border-right-color: #ffb31a;
    }

    &::after {
      border-left-color: #ffb31a;
    }

    .btn-pointed__letter {
      color: white;
    }
  }

  &--is-correct {
    background-image: none;
    background-color: #00e64d;

    &::before {
      display: block;
      content: '';
      position: absolute;
      z-index: 1;
      width: 0;
      height: 0;
      top: 50%;
      right: 100%;
      transform: translate(50%, -50%);
      // height after padding is 51px; so triangle ratio is 21/51 or 0.42
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      border-right: 21px solid #00e64d;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      z-index: 1;
      width: 0;
      height: 0;
      top: 50%;
      left: 100%;
      transform: translate(-50%, -50%);
      border-top: 21px solid transparent;
      border-bottom: 21px solid transparent;
      border-left: 21px solid #00e64d;
    }
  }
}
