.high-scores {
  background-color: white;
  color: #4dd2ff;
  // background-image: linear-gradient(
  //   to right,
  //   #00134d 3%,
  //   #4d79ff 43%,
  //   #00134d 88%
  // );
  &-heading {
    text-shadow: 0 0 3px #ffb31a;

    &:focus {
      outline-width: 0;
    }
  }

  tbody {
    border: 2px dashed #4dd2ff;
  }

  &__column-headers-group {
    // border needs to match thickness of tbody border
    border: 2px solid #4dd2ff;
  }

  &__column-headers {
    @apply w-1/3 text-center py-5 px-3;

    color: white;
    background-color: #4dd2ff;
    font-family: $font-primary;
    font-size: 14px;

    @include screen('md') {
      @apply px-4;
    }
  }

  &__row {
    position: relative;

    &--is-active {
      border: 2px solid #ffb31a;
      // color: white;
    }
  }

  &__rank-entry,
  &__name-entry,
  &__score-entry {
    position: relative;
    padding: 0.75rem 0.75rem;
    font-family: $font-primary;
    font-size: 14px;

    @include screen('md') {
      padding: 0.75rem 1rem;
    }
  }
}
