@font-face {
  font-family: 'open_sansregular';
  src: url('../assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../assets/fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'press_start_2pregular';
  src: url('../assets/fonts/pressstart2p-regular-webfont.woff2')
    format('woff2'),
    url('../assets/fonts/pressstart2p-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-primary {
  font-family: 'open_sansregular', sans-serif;
}

.font-accent {
  font-family: Helvetica, Arial;
}

.font-retro {
  font-family: 'press_start_2pregular';
}

.text-black {
  color: black;
}

.capitalize {
  text-transform: capitalize;
}

// .text-underline-none {
//   color: $grey;
//   &:hover {
//     text-decoration: none;
//     color: darken($grey, 10%);
//   }
// }

// .hover-underline:hover {
//   text-decoration: underline;
// }

// .anchor-primary {
//   color: $magenta;
//   font-family: Verdana, Geneva, sans-serif;

//   &:hover {
//     color: darken($magenta, 10%);
//   }
// }
